body, html{
	height: 100%;
	width: 100%;
}
#__blaze-root{
	height: 100%;
}
#editor{
	background: #eee;
	height: 100%;
	position: relative;
}
#container{
	height: 100%;
	width: 100%;
}
#editor-menu{
	position: fixed;
	bottom: 5px;
    left: 15px;
    z-index: 100;
}

#askOption{
	background: #e0e0e0;
	padding: 20px;
	position: absolute;
	top: 200px;
	width: 400px;
    left: 300px;
}

.endBlock{
 position: absolute !important;
 bottom: 0;
 right: 0;
}

.block{
	margin: 20px;
	padding: 10px 20px;
	background: #e0e0e0;
	display: inline-block;
	border-radius: 3px;
	position: relative;
}

.circle{
	position: absolute;
	width: 20px;
    height: 20px;
    border-radius: 100%;
    background: red;
}

.startCircle{
    right: -10px;
    top: 10px;
}

.endCircle{
    left: -10px;
    top: 10px;
}

#container-fluid{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}

.ask{
	background: #e0e0e0;
	width: 150px;
	height: 200px;
	position: absolute;
	top: 30px;
	left: 300px;
}

.bCircle{
    left: -10px;
    top: 90px;
}

.nCircle{
    right: -10px;
    top: 90px;
}

.ask-linear{
	width : 150px;
	height: 100px;
	display: inline-block;
	background: #eee;
	margin : 5px;
	border-radius: 5px;
	color: #121010;
	text-align: center;
	padding: 5px 10px;
	font-size: 12px;
	overflow: hidden;  
}

#ask-edit{
	position: fixed;
	display: block;
	width: 500px;
	height: 400px;
	top: 100px;
	left: 300px;
	background: #eee;
}

#answers{
	background: #c1c0d2;
}

.imagesList img{
	height: 200px;
}

.skip-button{
	background: red;
}

.answer-button{
	background: green;
}