<template name="addCategoria">
	<h1>Добавить категорию</h1>
	<p>Внимание!</p>
	<p>Категория сразу не публикуется, она должна пройти обработку модератором</p>
	<p>Опишите каких категорий вам не хватает</p>
	<p>Опишите вложенность категорий(Учеба -> Иностранные языки -> Итальянский)</p>
	<p>Вы можете предложить сколько угодно категорий!</p>
	<p>Пример: Я хочу категорию "Спорт" на главной страничке с категориями. Также в этой категории мне хотелось бы увидеть категории "футбол", "хокей" и "волейбол". </p>
	<form id="addForm">
		{{#unless currentUser }}
			<p>Введите e-mail для обратной связи с вами</p>
			E-mail : <input type="email" name="_email">
		{{/unless}}
		<p>Сюда писать: </p><p><textarea name="desc" placeholder='Пример: Я хочу категорию "Спорт" на главной страничке с категориями. Также в этой категории мне хотелось бы увидеть категории "футбол", "хокей" и "волейбол". ' style="margin: 0px; width: 598px; height: 168px;"></textarea></p>
		<button type="submit">Добавить</button>
	</form>
</template>